{% extends "main/base-contest.html" %}
{% load static %}
{% block navbar-title %} کیوبیت {% endblock navbar-title%}
{% block title %}Qbit - Problemset {% endblock %}
{% block page-css %}<link href="{% static 'blog/content/css/blog-home.css' %}" rel="stylesheet">{% endblock %}
{% block page-script %}
<script>
    function stc(pe)
    {
        pe*=120;
        return 'hsl('+pe+',100%,50%)';
    }
    window.addEventListener( "pageshow", function ( event ) {
  var historyTraversal = event.persisted ||
                         ( typeof window.performance != "undefined" &&
                              window.performance.navigation.type === 2 );
  if ( historyTraversal ) {
    window.location.reload();
  }
});
</script>
{% endblock page-script %}
{% block container-type %}
<div class="container-fluid">
{% endblock container-type %}
{% block content %}

<div class="col-md-6">

    <h3 class="text-center my-4">
    <small>
    </small>
    </h3>
    <div style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);" class="card mb-4 border-light">
        <h5 class="text-center card-header">
            آرشیو سوالات
        </h5>
        <div class="text-right card-body">
            <div class="table-responsive" >
                <table dir="rtl" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <!--<td align="center">
                            شناسه
                            </td>-->
                            <td align="center" style="vertical-align:middle;">
                                نام مسابقه مادر
                            </td>
                            <td align="center" style="vertical-align:middle;">
                                نام مسئله
                            </td>
                            <td align="center" style="vertical-align:middle;">
                            نمره سوال
                            </td>
                            <td align="center" style="vertical-align:middle;">
                            امتیاز
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for problem,score in problems %}
                            <tr>

                                <td align="center" style="vertical-align:middle;"><a style="text-decoration:none;" href="/contest/{{problem.parent_contest.code}}">{{problem.parent_contest.title}}</a>
                                </td>
                                <td align="center" style="vertical-align:middle;"><a style="text-decoration:none;" href="/problem/{{problem.code}}">{{problem.title}}</a></td>
                                {% if score == "-" %}
                                    <td align="center" style="vertical-align:middle;">{{problem.maxscore}}</td>
                                    <td align="center" style="vertical-align:middle;">0</td>
                                {% else %}
                                    <td align="center" style="vertical-align:middle;">{{problem.maxscore}}</td>
                                    <td align="center" style="vertical-align:middle;" id="td_{{problem.code}}">{{score}}</td>
                                <script>
                                    document.getElementById("td_{{problem.code}}").style.backgroundColor=stc({{score}}/{{problem.maxscore}});
                                </script>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="pagination justify-content-center border-success mb-4">
        {% if current_page == "1" %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="/problemset/page/1">1</a></li>
            <li class="page-item"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="/problemset/page/{{last_page}}">{{last_page}}</a></li>
            <li class="page-item">
              <a class="page-link" href="/problemset/page/{{next_page}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% elif current_page == last_page %}
            <li class="page-item">
              <a class="page-link" href="/problemset/page/{{previous_page}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="/problemset/page/1">1</a></li>
            <li class="page-item"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="/problemset/page/{{last_page}}">{{last_page}}</a></li>
            <li class="page-item">
              <a class="page-link disabled" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% else %}
            <li class="page-item">
              <a class="page-link" href="/problemset/page/{{previous_page}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="/problemset/page/1">1</a></li>
            <li class="page-item"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="/problemset/page/{{current_page}}">{{current_page}}</a></li>
            <li class="page-item"><a class="page-link">...</a></li>
            <li class="page-item"><a class="page-link" href="/problemset/page/{{last_page}}">{{last_page}}</a></li>
            <li class="page-item">
              <a class="page-link" href="/problemset/page/{{next_page}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
        {% endif %}
    </ul>
</div>

{% endblock %}
{% block right-sidebar %}
<div class="col-md-3">
{% if running_contests %}
<h4 class="text-center mt-4">
    مسابقات در حال اجرا
</h4>

{% for contest,details in running_contests %}
    <div style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);" dir="rtl" class="card my-4 border-light">
        <h5 class="text-right card-header">
            {{ contest.title }}
        </h5>
        <div class="text-center card-body">
            <p>
                زمان باقی مانده تا پایان مسابقه
            </p>
            <div data-reactroot>
                <div style="display: inline-block;">
                    <span id="second-{{contest.code}}"></span>
                    <br>
                    <span style="font-size:10px">
                    ثانیه
                    </span>
                </div>
                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="minute-{{contest.code}}"></span>
                    <br>
                    <span style="font-size:10px">
                    دقیقه
                    </span>
                </div>

                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="hour-{{contest.code}}"></span>
                    <br>
                    <span style="font-size:10px">
                    ساعت
                    </span>
                </div>
                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="day-{{contest.code}}"></span>
                    <br>
                    <span style="font-size:10px" >
                    روز
                    </span>
                </div>
            </div>
        </div>



    </div>
{% endfor %}
{% endif %}
{% if future_contests %}
<h4 class="text-right mt-4">
    مسابقات آینده
</h4>

{% for contest,details in future_contests %}
    <div style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);" dir="rtl" class="card my-4 border-light">
        <h5 class="text-right card-header">
            {{ contest.title }}
        </h5>
        <div class="text-center card-body">
            <p>
                تا شروع مسابقه
            </p>
            <div data-reactroot>
                <div style="display: inline-block;">
                    <span id="second-{{contest.code}}-future"></span>
                    <br>
                    <span style="font-size:10px">
                    ثانیه
                    </span>
                </div>
                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="minute-{{contest.code}}-future"></span>
                    <br>
                    <span style="font-size:10px">
                    دقیقه
                    </span>
                </div>

                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="hour-{{contest.code}}-future"></span>
                    <br>
                    <span style="font-size:10px">
                    ساعت
                    </span>
                </div>
                <div style="display: inline-block;"></div>
                <div style="display: inline-block;">
                    <span id="day-{{contest.code}}-future"></span>
                    <br>
                    <span style="font-size:10px" >
                    روز
                    </span>
                </div>
            </div>
        </div>



    </div>
{% endfor %}
{% endif %}
{% if running_contests or future_contests %}
<script>
    var w;
    w = new Worker("{% static 'contest/js/handle.js' %}");
    var running_contests = [];
    var future_contests = [];
    {% for contest,details in running_contests %}
    running_contests.push({code:"{{contest.code}}",date:"{{contest.date_end|date:'M, d Y H:i:s'}}"});
    {% endfor %}
    {% for contest,details in future_contests %}
    future_contests.push({code:"{{contest.code}}",date:"{{contest.date_start|date:'M, d Y H:i:s'}}"});
    {% endfor %}
    w.postMessage(["start"]);
    w.onmessage = function(event) {
        if(event.data[0] == "countdown" ){
            for (i = 0; i < running_contests.length; i++) {
                var now = new Date(event.data[1]).getTime();
                var contest_end_date = new Date(running_contests[i].date).getTime()
                var distance = contest_end_date - now;
                if (distance < 0){
                    document.getElementById("day-"+running_contests[i].code).innerHTML = 0;
                    document.getElementById("hour-"+running_contests[i].code).innerHTML = 0;
                    document.getElementById("minute-"+running_contests[i].code).innerHTML = 0;
                    document.getElementById("second-"+running_contests[i].code).innerHTML = 0;
                    location.reload();
                    w.terminate();
                }
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("day-"+running_contests[i].code).innerHTML = days;
                document.getElementById("hour-"+running_contests[i].code).innerHTML = hours;
                document.getElementById("minute-"+running_contests[i].code).innerHTML = minutes;
                document.getElementById("second-"+running_contests[i].code).innerHTML = seconds;

            }
            for (i = 0; i < future_contests.length; i++) {
                var now = new Date(event.data[1]).getTime();
                var contest_start_date = new Date(future_contests[i].date).getTime()
                var distance = contest_start_date - now;
                if (distance < 0){
                    document.getElementById("day-"+future_contests[i].code+"-future").innerHTML = 0;
                    document.getElementById("hour-"+future_contests[i].code+"-future").innerHTML = 0;
                    document.getElementById("minute-"+future_contests[i].code+"-future").innerHTML = 0;
                    document.getElementById("second-"+future_contests[i].code+"-future").innerHTML = 0;
                    location.reload();
                    w.terminate();
                }
                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("day-"+future_contests[i].code+"-future").innerHTML = days;
                document.getElementById("hour-"+future_contests[i].code+"-future").innerHTML = hours;
                document.getElementById("minute-"+future_contests[i].code+"-future").innerHTML = minutes;
                document.getElementById("second-"+future_contests[i].code+"-future").innerHTML = seconds;

            }

        }
    };
</script>
{% endif %}
{% if not future_contests and not running_contests %}
    <div dir="rtl" style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);" class="card my-4 border-light">
        <h5 class="text-center card-header">
            مسابقات
        </h5>
        <div class="text-right card-body">
          هیچ مسابقه ای برنامه ریزی نشده است.
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
{% block sidebar%}
<div class="col-md-3">
    <div dir="rtl" style="box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -moz-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75); -webkit-box-shadow: 0px 3px 13px -1px rgba(0,0,0,0.75);" class="card my-4 border-light">
        <h5 class="text-center card-header">
            جستجو در آرشیو
        </h5>
        <div  class="text-right card-body">
          جستجو
          <script>
              console.log("{{all_problems}}");
          </script>
        </div>
    </div>
</div>
{% endblock %}
